openapi: 3.0.0
info:
  title: Clubs API
  description: API for Hack Club clubs, built in Lua using Astra.
  version: 1.0.0
servers:
  - url: https://clubapi.hackclub.com
    description: Production server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    NotImplemented:
      type: object
      properties:
        error:
          type: string
          example: "Not yet implemented — the Airtable field(s) this endpoint relied on were removed in a base migration and no replacement has been wired up yet"
security:
  - {}
  - ApiKeyAuth: []

paths:
  ###################
  # DOCUMENTATION
  ###################
  /:
    get:
      summary: API Documentation
      description: Returns the API documentation page.
      security: []
      responses:
        '200':
          description: HTML documentation page

  ###################
  # CLUB MANAGEMENT
  ###################
  /clubs:
    get:
      summary: Get total number of clubs
      description: Returns the total number of clubs registered.
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalClubs:
                    type: integer

  /clubs/map:
    get:
      summary: Get all clubs for map display
      description: |
        Returns every club with fuzzed coordinates for map display.
        Fully public, no authentication supported or required.
        Responses are cached server-side for up to 45 seconds.
      security: []
      responses:
        '200':
          description: List of clubs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    fields:
                      type: object
                      properties:
                        club_name:
                          type: string
                        venue_lat_fuzz:
                          type: number
                          description: Latitude rounded to ~2 decimal places
                        venue_lng_fuzz:
                          type: number
                          description: Longitude rounded to ~2 decimal places
                        club_status:
                          type: string
                        club_website:
                          type: string

  /clubs/country:
    get:
      summary: Get amount of clubs in a country
      description: Returns the count of clubs in the specified country.
      security: []
      parameters:
        - in: query
          name: country
          schema:
            type: string
          required: true
          description: The country to filter by (e.g. "USA", "India")
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clubs:
                    type: integer

  /clubs/level:
    get:
      summary: Get amount of clubs at a level
      description: Returns the count of clubs at the specified level.
      security: []
      parameters:
        - in: query
          name: level
          schema:
            type: string
          required: true
          description: The level to filter by (e.g. "1", "2", "3")
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clubs:
                    type: integer

  /club:
    get:
      summary: Get club info from name
      description: |
        Returns information about a club.
        Authentication is optional.
        - No key sent: returns a limited public field set (club_name, status, club_website, leader_slack_id, venue_addr_country).
        - Valid key sent: returns the full Airtable club record.
        - Invalid key sent: 401.
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: Club information. Shape depends on whether a valid API key was sent (see description). `{club_name: null}` if no club matches.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  club_name:
                    type: string
                    nullable: true
        '400':
          description: Missing name parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing name parameter"
        '401':
          description: An API key was sent but it is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /club/code:
    get:
      summary: Get club info from join code
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  /club/ambassador:
    get:
      summary: Get club ambassador
      description: Returns the email and Slack ID of the ambassador assigned to a club.
      security: []
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: Ambassador information
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  slackId:
                    type: string
        '400':
          description: Missing parameter or no ambassador assigned
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing name parameter"
        '404':
          description: Club or ambassador not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Club not found"

  ###################
  # LEADER MANAGEMENT
  ###################
  /leader:
    get:
      summary: Get leader from email
      description: |
        Checks if a leader exists by email.
        Authentication is optional.
        - No key sent: returns true/false indicating existence.
        - Valid key sent: returns the club name and status associated with the leader.
        - Invalid key sent: 401.
      parameters:
        - in: query
          name: email
          schema:
            type: string
            format: email
          required: true
          description: Email of the leader
      responses:
        '200':
          description: Leader information
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      club_name:
                        type: string
                        nullable: true
                      club_status:
                        type: string
                        nullable: true
                  - type: object
                    properties:
                      leader:
                        type: boolean
        '401':
          description: An API key was sent but it is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
    post:
      summary: Change club leader's email
      description: Updates a leader's email address. Requires Write permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: email
          schema:
            type: string
            format: email
          required: true
          description: Current email of the leader
        - in: query
          name: new_email
          schema:
            type: string
            format: email
          required: true
          description: New email for the leader
      responses:
        '200':
          description: Email updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_email:
                    type: string
        '400':
          description: Missing email parameter or leader not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /leader/slack:
    get:
      summary: Get leader from Slack ID
      description: |
        Checks if a leader exists by Slack ID.
        Authentication is optional.
        - No key sent: returns true/false indicating existence.
        - Valid key sent: returns the club name and status associated with the leader.
        - Invalid key sent: 401.
      parameters:
        - in: query
          name: slackid
          schema:
            type: string
          required: true
          description: Slack ID of the leader
      responses:
        '200':
          description: Leader information
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      club_name:
                        type: string
                        nullable: true
                      club_status:
                        type: string
                        nullable: true
                  - type: object
                    properties:
                      leader:
                        type: boolean
        '400':
          description: Missing slackid parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing slackid parameter"
        '401':
          description: An API key was sent but it is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  ###################
  # SHIP MANAGEMENT
  ###################
  /ships:
    get:
      summary: Get club ships
      description: |
        Returns the list of ships (projects) associated with every member of a club.
        Authentication is optional.
        - No key sent: returns a limited field set per ship (YSWS, Code URL, Playable URL).
        - Valid key sent: returns the full Unified DB Projects record per ship.
        - Invalid key sent: 401.
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: List of ships. Shape per item depends on whether a valid API key was sent (see description).
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          description: Missing club_name parameter, or club member lookup failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: An API key was sent but it is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  ###################
  # MEMBER MANAGEMENT
  ###################
  /member/ships:
    get:
      summary: Get a member's ships
      description: Returns the list of ships (projects) associated with a member by email. Requires Read permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: email
          schema:
            type: string
            format: email
          required: true
          description: Email of the member
      responses:
        '200':
          description: List of ships
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          description: Missing email parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing email parameter"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /member:
    get:
      summary: Get member's club and email by name
      description: Returns the club and email associated with a member by name. Requires Read permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the member
      responses:
        '200':
          description: Member information including club and email
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                    format: email
        '400':
          description: Missing name parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing name parameter"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Member not found"
    post:
      summary: Update member information
      description: Updates a member's name and/or email. Requires Write permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Current name of the member to update
        - in: query
          name: new_name
          schema:
            type: string
          required: false
          description: New name for the member
        - in: query
          name: new_email
          schema:
            type: string
            format: email
          required: false
          description: New email for the member
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                    format: email
        '400':
          description: Missing name parameter, no updates provided, or member not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
    delete:
      summary: Delete a member
      description: Deletes a member by name. Requires Write permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Name of the member to delete
      responses:
        '200':
          description: Member deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    example: true
                  id:
                    type: string
        '400':
          description: Missing name parameter or failed to delete
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Member not found"

  /member/code:
    get:
      summary: Get member info by leave code
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  /member/email:
    get:
      summary: Get member's club by email
      description: Returns the club name associated with a member by email. Requires Read permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: email
          schema:
            type: string
            format: email
          required: true
          description: Email of the member
      responses:
        '200':
          description: Club name associated with the member
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Missing email parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing email parameter"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Member not found"

  /member/slack:
    get:
      summary: Get member's club by Slack ID
      description: Returns the club name associated with a member by Slack ID. Requires Read permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: slackid
          schema:
            type: string
          required: true
          description: Slack ID of the member
      responses:
        '200':
          description: Club name associated with the member
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Missing slackid parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing slackid parameter"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Member not found"

  /member/create:
    post:
      summary: Create a new member
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  /members:
    get:
      summary: Get club members
      description: Returns the list of member names for the specified club. Requires Read permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: Club members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
        '404':
          description: Club not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Club not found"

  ###################
  # LEVEL/STATUS MANAGEMENT
  ###################
  /level:
    get:
      summary: Get club level
      description: Returns the level of the specified club.
      security: []
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: Club level
          content:
            application/json:
              schema:
                type: object
                properties:
                  level:
                    type: string
    post:
      summary: Change club level
      description: Updates the level of a club. Requires Write permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
        - in: query
          name: level
          schema:
            type: string
          required: true
          description: New level for the club
      responses:
        '200':
          description: Level updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_level:
                    type: string
        '400':
          description: Missing parameters or club not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /status:
    get:
      summary: Get club status
      description: Returns the status of the specified club.
      security: []
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
      responses:
        '200':
          description: Club status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
    post:
      summary: Change club status
      description: Updates the status of a club. Requires Write permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: club_name
          schema:
            type: string
          required: true
          description: Name of the club
        - in: query
          name: status
          schema:
            type: string
          required: true
          description: New status for the club
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_status:
                    type: string
        '400':
          description: Missing parameters or club not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /suspension:
    get:
      summary: Get club suspension status
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
    post:
      summary: Update club suspension status
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  /tokens:
    get:
      summary: Get club tokens
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'
    post:
      summary: Update club tokens
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  ###################
  # ANNOUNCEMENT MANAGEMENT
  ###################
  /announce:
    post:
      summary: Send announcement to club members
      description: |
        Not yet implemented — always returns 501. The Airtable field(s) this endpoint
        relied on were removed in a base migration and no replacement has been wired up yet.
      security: []
      responses:
        '501':
          description: Not yet implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplemented'

  ###################
  # API KEY MANAGEMENT
  ###################
  /key/create:
    post:
      summary: Create a new API key
      description: Creates a new API key with the given name and permission level. Requires Admin permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: name
          schema:
            type: string
          required: true
          description: Label for the new key (e.g. the owner's name)
        - in: query
          name: perms
          schema:
            type: string
            enum: ["read", "write", "admin"]
          required: true
          description: Permission level for the new key
      responses:
        '200':
          description: Key created, or creation failed (see success field)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  key:
                    type: string
                  name:
                    type: string
                  perms:
                    type: string
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"

  /key/revoke:
    post:
      summary: Revoke an API key
      description: Deletes an API key. Requires Admin permissions.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: key
          schema:
            type: string
          required: true
          description: The API key value to revoke
      responses:
        '200':
          description: Revocation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  owner_email:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
